# How to import dataset in Pandas library
 In this tutorial, we will learn how to import a dataset into the pandas library. We will use an example of importing a xlsx file as our dataset.

Written by: **Saira Kanwal**\
Date: 26.10.2023\
Email: sairarao046@gmail.com

In [5]:
# Step-1 openpyxl
# Importing Library

import pandas as pd

In [7]:
# Step-2
# openpyxl library is use to combine python and xlsx 
# Importing dataset with name
# If dataset file is located in another folder, then we will use file path
df = pd.read_excel("data.xlsx")

In [8]:
print(df)

    height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [13]:
# To print top (by default 5) rows
df.head(2)

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani

In [10]:
# To print last five rows

df.tail()

    height  weight favourite_dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [12]:
# To cont the number of columns and rows

df.shape

(87, 3)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB